body{
  background-color: lightblue;
}
.first-group{
  color: black;
  text-align: center;
}
.second-group{
  color: black;
  text-align: center;
}
#important{
  font-size: 30px;
  text-align: center;
}
